# MacOS folder file
.DS_Store

# Image files
*.png

# VS Code settings
.vscode/*

### MAVEN ###
target/

### CLUELESS CLIENT (REACT) ###
clueless-client/node_modules/
clueless-client/dist/
clueless-client/.env.local
clueless-client/.DS_Store
